# Ignore node_modules directory
node_modules/

# Ignore build or output directories
/dist/
/build/

# Ignore log files
*.log

# Ignore environment files
.env

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore editor-specific files
.vscode/
.parcel-cache/